{% extends 'base.html' %}
{% include 'form_snippets.html' %}


{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col">
      <form method="POST">{% csrf_token %}
        {% for field in form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}
        <div class="btn-register">
          <input type="submit" value="Registrar" class="btn btn-primary">
        </div>
      </form>
      </div>
    </div>
  </div> 
{% endblock %}
