{% extends 'base.html' %}

{% block content %}
{{ message }}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Folio</th>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if ctx %}
                            {% for ctx in ctx %}
                        <tr>
                            <th scope="row">{{ ctx.id }}</th>
                            <td>{{ ctx.matricula }}</td>
                            <td>{{ ctx.nombre }}</td>
                            <td><a href="{% url 'registerC' ctx.id %}" class="btn btn-secondary">Registrar Hijo(a)</a>
                                <a href="{% url 'deleteW' ctx.id %}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}